<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>RTSPtoWEB</title>
  <link rel="stylesheet" href="/../static/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/../static/css/adminlte.min.css">
  <link rel="stylesheet" href="/../static/plugins/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" href="/../static/css/index.css">
  <link href="/../static/css/google-fonts.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">





    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->

      <!-- /.content-header -->
